@mixin backgroundImage($url) {
    position: relative;
    min-height: 25vh;
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.7s;

    &:hover {
        opacity: 0.8;
        width: 45%;
    }
}