@mixin backgroundImage($url) {
    position: relative;
    height: 25vh;
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}