* {
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: rgba(30, 4, 88, 0.938);
  margin-bottom: 100px;
}

.container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.container h1 {
  text-align: center;
  font-style: Arial;
  letter-spacing: 2px;
  color: #ffc400;
  margin-top: 10px;
  text-shadow: 2px 6px 80px #e4ddb6;
  font-size: 8vh;
}

.user-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-control form {
  -webkit-box-shadow: 4px 8px 30px black;
          box-shadow: 4px 8px 30px black;
  background-color: black;
  height: 30vh;
  width: 40%;
  text-align: center;
}

.user-control form .form-control {
  display: block;
  width: 100%;
  text-align: center;
}

.user-control form .form-control label {
  font-size: 24px;
  margin: 10px 0px;
  display: block;
  color: white;
}

.user-control form .form-control input {
  width: 90%;
  margin: 5vh 0;
  font-size: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.user-control form .form-control input:focus {
  font-size: 24px;
  border: 2px solid gray;
}

.user-control form input[type="submit"] {
  margin: 4vh 0;
  padding: 5px;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 15px;
  background-color: pink;
  cursor: pointer;
}

.user-control form input[type="submit"]:hover {
  background-color: #ff99aa;
}

.game-collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin: auto;
}

.game-collection .example {
  width: 40%;
  margin: 10px;
}

.game-collection .p1 {
  position: relative;
  min-height: 25vh;
  background-image: url("../img/friends.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.game-collection .p1:hover {
  opacity: 0.8;
  width: 45%;
}

.game-collection .p2 {
  position: relative;
  min-height: 25vh;
  background-image: url("../img/alone.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.game-collection .p2:hover {
  opacity: 0.8;
  width: 45%;
}

.game-collection::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: black;
  display: block;
  position: fixed;
  height: 100px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .links a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: wheat;
  font-size: 16px;
  text-transform: uppercase;
  margin: 20px;
}

footer .links a:hover {
  color: plum;
  font-size: 18px;
}

footer .footer-info {
  display: block;
  color: wheat;
  margin: auto;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */